/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
    --sidebar-width: 240px;
    --text-color: rgb(50, 50, 50);
    --background-color: #ffffff;
    --light-background-color: #f4f4f4;
    --nav-bar-color: #ffffff;
    --selected-color: rgb(229, 241, 253);
    --action-text-color: #ffffff;
    --action-color: rgb(58, 99, 197);
    --border-color: darkgray;
}

.noteText {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
}

body {
 	background-color: var(--background-color);
}

.profile {
    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(71, 78, 93, 0.8);
    padding-top: 50px;
    display: none;
}

form {
    position: relative;
    width: 365px;
    height: 420px;
    top: 12%;
}

.container {
    background-color: #ffffff;
    float: left;
    width: 365px;
    max-height: 500px;
    border-radius: 12px;
    margin: 0 auto;
    position: relative;
}


.wrapper0 {
    position: relative;
    width: 335px;
    height: 60px;
    margin-bottom: 5px;
}

.wrapper1 {
    width: 335px;
    height: 60px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.wrapper2 {
    width: 300px;
    height: 220px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper3 {
    width: 300px;
    height: 70px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.change-image, .remove-image {
    background-color: #ffffff;
    width: 130px;
    height: 40px;
    border-radius: 12px;
    position: relative;
    border: none;
    left: -10px;
    margin-top: 10px;
}

.profile-input {
    border: none;
    width: 300px;
    height: 30px;
    border: 2px solid darkgray;
    margin-bottom: 10px;
}

.save {
    background-color: rgb(58, 99, 197);
    color: #ffffff;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 12px;
}

.logout {
    background-color: #ffffff;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 12px;
}

.sidebar {
    border: 2px solid darkgray;
    width: 240px;
    height: 1000px;
    float: left;

    flex-shrink: 0;
    overflow-y: auto;
}

.note {
    border-bottom: 2px dotted darkgray;
    width: 240px;
    height: 60px;
}
.note:focus {
    background-color: var(--selected-color);
}

.date {
    font-size: 0.9em;
    margin-left: 5px;
    margin-right: 5px;
}

.menu {
    position: relative;
    border-bottom: 2px solid darkgray;
    width: 240px;
    height: 60px;
}

.searchbox {
    position: relative;
    border-bottom: 2px dotted darkgray;
    width: 240px;
    height: 40px;
}

.search {
    position: relative;
    left: 30px;
    top: -10px;
}


.profile_pic {
    border-radius: 50%;
    border: none;
    width:40px;
    height:40px;
    margin: 8px;
    background-image:url("profile_pic.png");
}

.top {
    border-top: 2px solid darkgray;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    height: 60px;
    display: flex;
    max-width: 1004px;
}

.notePreview {
    display: flex;
    flex-direction: column;
}

.noteBody {
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    display: flex;
    max-width: 1000px;
    height: 934px;
    resize: none;
}

button, input[type=submit]  {
    cursor: pointer;
}

textarea {
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-left: none;
    border-top: none;
    box-shadow: none;
    outline: none;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
}

textarea:focus, input:focus {
    outline: none;
}

/* These rules only apply if the window's max-width is 500px or less */
@media all and (max-width: 500px) {
    .sidebar {
        display: none;
    }

    .profile {
        position: fixed;
        justify-content: center;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #ffffff;
        padding-top: 50px;
        display: none;
    }

    .container {
        background-color: #ffffff;
        border-radius: 0px;
        position: relative;
        top: -40px;
    }
}

@media all and (min-width: 500px) {
    #back {
        display: none;
    }
}