
.profile-title {
    font-size: 1.5em;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    float: left;
    position: relative;
    top: 7px;
}

.close-icon {
    transform: scale(1.5);
    position: relative;
    float: right;
    top: 30px;
    margin-right: 5px;
}

.profile_pic_2 {
    float: left; left: -10px; position: relative; margin-right: 25px;
}

.change-image, .remove-image {
    float: left;
}

.save {
    float: left;
}

.logout {
    float: right;
}
